.DS_Store



<h1 align="center">Hi 👋, I'm Alessio Tucci</h1>
<h3 align="center">I'm a student of 42 Roma Luiss, tuition free, coding school located in Rome, Italy.</h3>

<p align="left"> <img src="https://komarev.com/ghpvc/?username=alessiotucci&label=Profile%20views&color=0e75b6&style=flat" alt="alessiotucci" /> </p>

<p align="left"> <a href="https://github.com/ryo-ma/github-profile-trophy"><img src="https://github-profile-trophy.vercel.app/?username=alessiotucci" alt="alessiotucci" /></a> </p>

- 🔭 I’m currently working on [libft](https://github.com/alessiotucci/cursus-42-)

- 🌱 I’m currently learning **C**

- 📫 How to reach me **alessiotucci33@gmail.com**

- ⚡ Fun fact **I have a youtube channel**

<h3 align="left">Connect with me:</h3>
<p align="left">
<a href="https://linkedin.com/in/alessio-tucci-6b88b6214/" target="blank"><img align="center" src="https://raw.githubusercontent.com/rahuldkjain/github-profile-readme-generator/master/src/images/icons/Social/linked-in-alt.svg" alt="alessio-tucci-6b88b6214/" height="30" width="40" /></a>
<a href="https://instagram.com/alessiotucci_" target="blank"><img align="center" src="https://raw.githubusercontent.com/rahuldkjain/github-profile-readme-generator/master/src/images/icons/Social/instagram.svg" alt="alessiotucci_" height="30" width="40" /></a>
<a href="https://www.youtube.com/channel/UCM2h6Ak0urjOKVlKLc2deJQ" target="blank"><img align="center" src="https://raw.githubusercontent.com/rahuldkjain/github-profile-readme-generator/master/src/images/icons/Social/youtube.svg" alt="tuccialessio" height="30" width="40" /></a>
</p>

<h3 align="left">Languages and Tools:</h3>
<p align="left"> <a href="https://www.cprogramming.com/" target="_blank" rel="noreferrer"> <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/c/c-original.svg" alt="c" width="40" height="40"/> </a> <a href="https://www.adobe.com/in/products/illustrator.html" target="_blank" rel="noreferrer"> <img src="https://www.vectorlogo.zone/logos/adobe_illustrator/adobe_illustrator-icon.svg" alt="illustrator" width="40" height="40"/> </a> </p>

<p><img align="center" src="https://github-readme-streak-stats.herokuapp.com/?user=alessiotucci&" alt="alessiotucci" /></p>
